html {
    width: 100%;
}

#mce-EMAIL {
    border-radius: 0 !important;
    border-color: black !important;
    height: 2em;
}

#mc-embedded-subscribe {
    align-self: center !important;
    background-color: #110c11;
    color: white;
    border-radius: 0;
    height: 2em;
    padding: 1px 6px;
}

#mc_embed_signup_scroll {
    align-content: center;
}

.jumbotron {
    background-color: white;
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}