html {
    width: 100%;
    font-size: 12px;
}

div { 
    text-align: center;
    align-content: center;
}

a img {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
}

#mce-EMAIL {
    border-radius: 0 !important;
    border-color: black !important;
    height: 2em;
    width: 2rem;
}

#mc-embedded-subscribe {
    text-align: center;
    align-content: center;
    background-color: #110c11;
    color: white;
    border-radius: 0;
    height: 2.65rem;
    font: inherit;
    font-weight: 510;
    
}

#mc_embed_signup_scroll {
    align-content: center;
}

.jumbotron {
    background-color: white;
}

p {
    font-size: 1rem;
}

h4 {
    display: inline-block;
    font-size: 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}
@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}